*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  font-family: "Lato", sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

// Function
@mixin css-Heading() {
  margin-top: 40px;
  text-align: center;

  &__heading {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    &:after {
      content: "";
      position: absolute;
      width: 40px;
      height: 5px;
      border-radius: 10px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #a2c2d9;
    }
  }
}

/* CSS HEADER  */
/* css header top */

.header__top {
  background-color: #000;
  color: #fff;
}

.header__top div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.header__top div p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.header-list__social {
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.header-item__social {
  font-size: 15px;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* css header nav */

nav {
  position: relative;
  padding: 5px 0;
}

nav div {
  display: flex;
  align-items: center;
}

.nav__Logo {
  width: 150px;
}

.nav__between {
  margin-left: 5rem;
  display: flex;
}

.nav__item {
  list-style: none;
  font-size: 1rem;
  margin-right: 15px;
  font-weight: bold;
}

.nav__item a {
  text-decoration: none;
  color: #000;
}

.nav__item:not(:first-of-type) a {
  color: #535050;
  /* background-color: aqua; */
}

.nav__item a:hover {
  color: #000;
}

.nav__right {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  /* top right botoom left */
  margin: 0 0 0 auto;
  color: #535050;
}

.cart {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  position: relative;
  margin-left: 10px;
  transition: all 0.25s linear;
  background-color: #fff;
}

.cart:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 99px;
  border: 2px solid #000;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.25s linear;
}

.cart__number {
  font-weight: 700;
  /* display: block; */
  width: 100%;
  text-align: center;
}

.cart__notify {
  background-color: #fff;
  position: absolute;
  padding: 20px 20px;
  width: 300px;
  border: 1px solid #ada8a8;
  box-shadow: 0 0 11px 2px #ada8a8;
  top: 100%;
  right: 0;
  margin-top: 20px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  color: #ada8a8;
  font-weight: normal;
}

.cart__notify:before {
  content: "";
  width: 15px;
  height: 15px;
  transform: rotate(45deg) translate(-74%, 0);
  position: absolute;
  border: 1px solid #ada8a8;
  border-bottom: none;
  border-right: none;
  top: 0;
  left: 70%;
  z-index: -1;
}

.nav__right:hover {
  .text {
    color: #000;
  }
  .nav__price {
    color: #000;
  }
  .cart {
    background-color: #000;
    color: #fff;
  }

  .cart:before {
    // background-color: #000;
    // transform: translateX(-60%);
    top: -5%;
  }

  .cart__notify {
    opacity: 1;
    visibility: inherit;
  }
}

// css box find

.nav__item {
  position: relative;
}

.find {
  position: absolute;
  top: 100%;
  padding: 20px;
  border: 1px solid #ada8a8;
  left: 0;
  margin-left: -27px;
  margin-top: 16px;
  box-shadow: 0 0 11px 2px #ada8a8;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  background-color: #fff;

  &-box {
    display: flex;
    align-items: normal;
    border: 1px solid #ada8a8;
    &:before {
      content: "";
      width: 15px;
      height: 15px;
      transform: rotate(45deg) translate(-74%, 0);
      position: absolute;
      border: 1px solid #ada8a8;
      background-color: #fff;
      border-bottom: none;
      border-right: none;
      top: 0;
      left: 12%;
      transition: all 0.25s linear;
    }

    input {
      border: none;
      padding: 5px 10px;
      font-weight: normal;
    }
    ::-webkit-input-placeholder {
      // color: ;
      font-weight: normal;
    }
    ::-moz-input-placeholder {
      font-weight: normal;
    }
  }
}

.icon-input__find {
  padding: 10px;
  background-color: #000;
  color: #fff;
}

.nav__item:last-child:hover {
  .find {
    opacity: 1;
    visibility: inherit;
  }
}

// Banner css
.banner {
  position: relative;

  width: 100%;

  &__image img {
    position: relative;
    z-index: -9;
    width: 100%;
    object-fit: cover;
    height: 100vh;
  }
}

.banner-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-item {
  position: absolute;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 9;

  &:not(:last-child) {
    color: #a2c2d9;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a2c2d9;
    transition: all 0.25s linear;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &:first-child {
    left: 10%;
  }

  &:nth-child(2) {
    right: 10%;
  }

  &:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 100%;
    left: 50%;
    transform: translateY(-150%);

    .btn-radio {
      width: 15px;
      height: 15px;
      border-radius: 99px;
      border: 2px solid #fff;
      margin: 0 10px;
    }
  }
}

// CSS main content
/*
-> css introduce
-> css products

*/

//css introduce
.introduce {
  @include css-Heading();

  &-content {
    font-size: 16px;
  }
}

.content {
  &__name {
    font-weight: 700;
    line-height: 1.4;
    display: inline-block;
  }

  &__paragraph {
    line-height: 1.4;
  }
}

//css products

.products {
  @include css-Heading();
}

.product {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    align-items: normal;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(25%);
    margin: 0 0 20px 15px;
    width: calc(25% - 15px);
    border: 1px solid #eee;
    padding: 15px;
    overflow: hidden;
    transition: all 0.25s linear;
    position: relative;

    .percent {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #000;
      color: #fff;
      font-size: 16px;
      border-radius: 99px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 5%;
      left: -10px;
      z-index: 9;
    }
  }

  &__image img {
    height: 300px;
    width: 247px;
    object-fit: cover;
    object-position: center;
  }

  &__name {
    font-size: 14px;
    margin-top: 8px;
    margin-left: 5px;
    color: #334862;
    transition: all 0.5s linear;

    &:hover {
      color: #000;
    }
  }

  &-price {
    position: relative;
    font-size: 16px;
    display: inline-block;
    padding-right: 10px;
    margin: 5px 0;

    .price {
      position: relative;
      padding-right: 10px;

      &:before {
        content: "₫";
        position: absolute;
        font-size: 16px;
        top: 0;
        right: 0;
      }

      &:first-child {
        color: #444343;

        &:after {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          top: 50%;
          left: 0%;
          background-color: #444343;
          transform: translateY(-50%);
        }
      }

      &:last-child {
        font-weight: bold;
      }
    }
  }

  &__btn-buy {
    font-size: 12px;
    text-transform: uppercase;
    border: 2px solid #000;
    padding: 8px 10px;
    font-weight: bold;
    transition: all 0.5s linear;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &__item:hover {
    box-shadow: 0px -1px 20px 0px #534848;
  }
}



//Footer
footer {
  padding: 10px 0;
  background-color: #4e4a42;

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.copyright {
  align-self:flex-start;
  font-size: 15px;
  color: #eee;
}

.pay {
  display: flex;
  img {
    width: 40px;
    margin-left: 15px;
  }
}
